<!DOCTYPE html>
<html>
<head>



  <title>Difference between Windows,Linux and Mac</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <style>
  body{
    background-color: #0f121f;
} 

h1{
    color:#0f121f ;
}
table {
    width:100%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
p {
  color: #0f121f;
}
</style>
</head>

<div class="container bg-secondary">
   <div class="jumbotron">
      <h1>Difference Between WINDOWS,LINUX And MAC</h1>



      <table id="t01">
        <tr>
          <th>WINDOWS</th>
          <th>LINUX</th> 
          <th>MAC</th>
      </tr>
      <tr>
          <td> PC is more than 100 bucks and less expensive than MAC.</td>
          <td>LINUX is totally free and has a GNU license.</td>
          <td>Most expensive</td>
      </tr>
      <tr>
          <td> Windows can be installed on a variety of hardware computers like HP, ASUS, ACER, DELL and others.</td>
          <td> LINUX can be installed on a variety of hardware computers like HP, ASUS, ACER, DELL and others.</td>
          <td>MAC runs on only Apple manufactured machines and hardware</td>
      </tr>
      <tr>
          <td>WINDOWS has the problem of attacking the virus, malware. </td>
          <td>LINUX and have few virus developers and few virus attacks.</td>
          <td>MAC and have few virus developers and few virus attacks./td>
          </tr>
          <tr>
            <td> WINDOWS OS is used on desktops, tablets, smartphones and others.</td>
            <td>LINUX is used for desktop, servers and other variety of devices.</td>
            <td>MAC is used on most desktop and due to the high price it is not best suited for servers.</td>
        </tr>
        <tr>
            <td>WINDOWS has the largest percentage of users almost 70-80% of people using WINDOWS OS.</td>
            <td>MAC is about 10-20% range</td>
            <td>LINUX is very few in society.</td>
        </tr>
        <tr>
            <td>WINDOWS is used on almost every place like in homes, offices, stores so all knows how to use it and is very easy to get started with WINDOWS and using it. </td>
            <td>LINUX is very difficult to configure for first-time use.</td>
            <td>MAC is also not easier for new users but easy than LINUX.</td>
        </tr>
        <tr>
            <td> Graphics and videos are best edited and produced by WINDOWS and MAC OS.</td>
            <td> - </td>
            <td> Graphics and videos are best edited and produced by WINDOWS and MAC OS.</td>
        </tr>
    </table>
    <!--<p>If you are new in the computer world then I suggest you go to the WINDOWS operating system. If you have a high budget then MAC is also a not bad idea. And if you are a programmer and tech person then LINUX is good for you.</p>-->
</div>
</div>
</body>
</html>
