<!DOCTYPE html>
<html>
<head>
             <title>Installation of LInuxs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
             <style>
                 table {
                  width:100%;
                 }
                 table, th, td {
                 border: 1px solid black;
                 border-collapse: collapse;
                 }
                 th, td {
                  padding: 15px;
                 text-align: left;
                  }
                 table#t01 tr:nth-child(even) {
                  background-color: #eee;
                 }
                 table#t01 tr:nth-child(odd) {
                 background-color: #fff;
                 }
                 table#t01 th {
                 background-color: black;
                 color: white;
                 }
             </style>
         </head>
    <body>
  </div>-->
         <div class="container bg-secondary">
             <div class="jumbotron">
         <h2>What is a Linux Distribution?</h2>
             <p>Well, now as you know that Linux is open-source, free to use kernel. It is used by programmers, organizations, profit and non-profit companies around the world to create Operating systems to suit their individual requirements.<br><br>
             To prevent hacking attempts, many organizations keep their Linux operating systems private.<br><br>
             Many others make their variations of Linux available publicly so the whole world can benefit at large.<br><br>
             These versions/ types /kinds of Linux operating system are called Distributions.</p>
         <h2>How many distributions are out there?</h2>
             <p>There are hundreds of Linux operating systems or Distributions available these days. Many of them are designed with a specific purpose in mind. For example, to run a web server or to run on network switches like routers, modems, etc.<br><br>
             The latest example of one of the most popular smartphone-based Linux Distribution is Android!<br><br>
             Many of these Distributions are built to offer excellent personal computing.<br><br.
             Here, are a few popular Linux Distributions (also called Linux Distro) -
             <h3>Distributions of Linux</h3>
                 <table id="t01">
                     <tr>
                         <th>Linux Destributation</th>
                          <th>Name</th> 
                         <th>description</th>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Arch</td>
                         <td>This Linux Distro is popular amongst Developers. It is an independently developed system. It is designed for users who go for a do-it-yourself approach.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>CentOS</td>
                         <td>It is one of the most used Linux Distribution for enterprise and web servers. It is a free enterprise class Operating system and is based heavily on Red Hat enterprise Distro.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Debian</td>
                         <td>Debian is a stable and popular non-commercial Linux distribution. It is widely used as a desktop Linux Distro and is user-oriented. It strictly acts within the Linux protocols.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Fedora</td>
                         <td>Another Linux kernel based Distro, Fedora is supported by the Fedora project, an endeavor by Red Hat. It is popular among desktop users. Its versions are known for their short life cycle.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Gentoo</td>
                         <td>It is a source based Distribution which means that you need to configure the code on your system before you can install it. It is not for Linux beginners, but it is sure fun for experienced users.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>LinuxMint</td>
                         <td>It is one of the most popular Desktop Distributions available out there. It launched in 2006 and is now considered to be the fourth most used Operating system in the computing world.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>OpenSUSE</td>
                         <td>It is an easy to use and a good alternative to MS Windows. It can be easily set up and can also run on small computers with obsolete configurations.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>RedHat<br>enterprise</td>
                         <td>Another popular enterprise based Linux Distribution is Red Hat Enterprise.It has evolved from Red Hat Linux which was discontinued in 2004. It is a commercial Distro and very popular among its clientele.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Slackware</td>
                         <td>Slackware is one of the oldest Linux kernel based OS's. It is another easy desktop Distribution. It aims at being a 'Unix like' OS with minimal changes to its kernel.</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>Ubuntu</td>
                         <td>This is the third most popular desktop operating system after Microsoft Windows and Apple Mac OS. It is based on the Debian Linux Distribution, and it is known as its desktop environment.</td>
                     </tr>
                 </table></p>
         <h2>The Best Linux Distribution!</h2>
            <p>The term best is relative. Each Linux distribution is built for a specific purpose-built to meet the demands of its target users.<br><br>
             The desktop Distributions are available for free on their respective websites. You might want to try them one by one till you get to know which Distribution you like the most. Each one of them offers its own unique design, applications, and security.<br><br>
             We will be using Ubuntu for our learning purpose as it's easy for a beginner to understand.</p>
         <h2>Installing Linux</h2>
             <h3>Let's look the various methods we can use to install Ubuntu.</h3>
             <h3>Installing Linux using USB stick</h3>
                <p>This is one of the easiest methods of installing Ubuntu or any distribution on your computer. Follow the steps.<br><br>
                     Step 1) Download the .iso or the OS files on your computer from this link.<br><br>
                     Step 2) Download free software like 'Universal USB installer to make a bootable USB stick.<br><br>
                     Step 3) Select an Ubuntu Distribution form the dropdown to put on your USB<br><br>
                     Select your Ubuntu iso file download in step 1.<br><br>
                     Select the drive letter of USB to install Ubuntu and Press create button.<br><br>
                     Step 4) Click YES to Install Ubuntu in USB.<br><br>
                     Step 5) After everything has been installed and configured, a small window will appear Congratulations! You now have Ubuntu on a USB stick, bootable and ready to go.</p>
             <h3>Installing Linux using CD-ROM</h3>
                     <p>Those who like the way a CD runs should try using this method.<br><br>
                     Step 1) Download the .iso or the OS files onto your computer from this link http://www.ubuntu.com/download/desktop.<br><br>
                     Step 2) Burn the files to a CD.<br><br>
                     Step 3) Boot your computer from the optical drive and follow the instructions as they come.</p>
             <h3>Installing Linux using Virtual Machine</h3>
                     This is a popular method to install a Linux operating system. The virtual installation offers you the freedom of running Linux on an existing OS already installed on your computer. This means if you have Windows running, then you can just run Linux with a click of a button.<br><br>
                      Virtual machine software like Oracle VM can install Ubuntu in easy steps. Let us look at them.<br><br>
                     Here the brief steps<br><br><br>
             <h3>PART A) Download and Install Virtual Box</h3><br><br>
                     Download Virtual box using this link<br><br>
                     Depending on your processor and OS, select the appropriate package. In our case, we have selected Windows with AMD<br><br><br>
                     Once the download is complete, Open setup file and follow the steps below:<br><br>
                     Step-1) Click On next<br><br><br>
                     Step-2) Select you're the directory to install VirtualBox and click on next<br><br><br><br>
                     Step-3) Select Desktop icon and click on next, now click on yes<br><br><br><br>
                     Step-4) Click On install.<br><br><br><br>
                     Step-5) Now installation of the virtual box will start. Once complete, click on Finish Button to start Virtual Box<br><br><br><br>
                     The virtual box dashboard looks like this-<br><br><br><br>
             <h3>PART B) Download Ubuntu</h3><br><br>
                     Visit this link to download Ubuntu.<br><br><br><br>
                     You can select 32/64-bit versions as per your choice.<br><br>
             <h3> PART C) Create a Machine in Virtual Box</h3>h3><br><br>
                     Step-1) Open Virtual box and click on new button<br><br><br><br>
                     Step-2) In next window, give the name of your OS which you are installing in virtual box. And select OS like Linux and version as Ubuntu 32 bit. And click on next<br><br><br><br>
                     Step-3) Now Allocate Ram Size To your Virtual OS. I recommended keeping 1024mb (1 GB) ram to run Ubuntu better. And click on next.<br><br><br><br>
                     Step-4) Now To run OS in virtual box we have to create virtual hard disk, click on create a virtual hard drive now and click on create button<br><br>
                     The virtual hard disk is where the OS installation files and data/applications you create/install in this Ubuntu machine will reside<br><br><br><br>
                     Step-5) select VHD (virtual hard disk) option and click on next.<br><br><br><br>
                     Step-6) Click on dynamic allocated and click on next. This means that the size of the disk will increase dynamically as per requirement.<br><br><br><br><br>
                     Step-7) Allocate memory to your virtual hard drive .8GB recommended. Click on create button.<br><br>
                     Step-8) Now you can see the machine name in left panel<br><br><br><br>
                     So a Machine (PC) with 8GB Hardisk, 1GB RAM is ready.<br><br>
             <h3>PART D) Install Ubuntu on the Machine</h3><br><br>
                     Step 1) Select the Machine and Click on Start<br><br><br><br>
                     Step 2) Select the Folder Option<br><br><br><br><br>
                     Step 3) Select the Ubuntu iso file<br><br><br><br>
                     Step 4) Click Start<br><br><br><br><br>
                     Step-5) You have an option to Run Ubuntu WITHOUT installing. In this tutorial will install Ubuntu<br><br><br><br><br><br>
                     Step-6) Click continue.<br><br><br><br><br>
                     Step-7) Select option to erase the disk and install Ubuntu and click on install now. This option installs Ubuntu into our virtual hard drive which is we made earlier. It will not harm your PC or Windows installation<br><br><br><br><br>
                     Step-8) Select your location for setting up time zone, and click on continue<br><br><br><br>
                     Step-9) Select your keyboard layout, by default English (US) is selected but if you want to change then, you can select in the list. And click on continue<br><br><br><br>
                     Step-10) Select your username and password for your Ubuntu admin account. This information has been needed for installing any software package into Ubuntu and also for login to your OS. Fill up your details and tick on login automatically to ignore login attempt and click on continue<br><br><br><br>
                     Step-11) Installation process starts. May take up to 30 minutes. Please wait until installation process completes.<br><br><br><br>
                     Step-12) After finishing the installation, you will see Ubuntu Desktop.
</p>
</div>
</div>
</body>
</html>
